    body{
        margin: 0;
        background-color: cyan;
    }
    h1{
        color:darkblue;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
    }
    h2{
        color:darkblue;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 25px;
    }
    h3{
        color:darkblue;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
    }
    li{
        color: blue;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
    }
    ol{
        list-style-position: inside;
    }
    a:link{
        text-decoration: none;
        color:darkblue;
    }
    a:visited{
        text-decoration: none;
        color:darkblue;
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline;
        color:blue;
    }
    a:active{
        text-decoration: underline;
        color:darkblue;
    }
    .header{
        background-color: aqua;
        padding:20px;
        text-align: center;
    }
    .column{
        float: left;
        padding:10px;
    }
    .column.side{
        width:25%;
    }
    .column.middle{
        width:40%;
    }
    .row:after{
        content:"";
        display:table;
        clear:both;
    }

    @media screen and (max-width: 600px){
        .column.side, .column.middle{
            width:100%;
        }
    }